.main_menu{
    -fx-background-color: #f6fa7a;
}
.menu_button{
    -fx-padding: 22px;
    -fx-spacing: 20px;
    -fx-text-fill: black;
    -fx-font: 30px Rockwell;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: #f7fc53;
}
.menu_buttons_vbox{
    -fx-padding: 20px;
    -fx-alignment: center;
}
.chat_pane{
    -fx-background-color: #E3EAFF;
}
.menu_bar{
    -fx-background-color: #C9D8FF;
}
.contacts{
    -fx-background-color: #E3EAFF;
    -fx-pref-width: 250px;
    -fx-pref-height: 70px;
    -fx-padding: 25px;
    
}
.contact_view_contact_name{
    -fx-font: 24px Rockwell;
}
.contact_view_last_message{
    
}
.scroll_contacts > .viewport{
    -fx-background-color: #C9D8FF;
}
.scroll_contacts{
    -fx-pref-width: 250px;
    -fx-border-width: 1px;
    -fx-border-color: #8DA8F0;
    
}
.chat_window{
    -fx-padding: 20px;
}
.messages{
    -fx-background-color: #C9D8FF;
    -fx-pref-height: 600px;
}
.scroll_messages > .viewport{
    -fx-background-color: brown;
}
.scroll_messages{
}
.input_box{
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment: center;
}
.send_button{
     -fx-alignment: center;
}